---
import RootNav from "../../components/github/navigation/RootNav.astro";
---

<ul>
    MAIN
    <RootNav titulo="Introduccion" />
    <RootNav titulo="Introduccion" />
    <RootNav titulo="Introduccion" />
    <RootNav titulo="Introduccion" />
    <li><span></span> subitem</li>
    <li><span></span> subitem</li>
    <li><span></span> subitem</li>
    <li><span></span> subitem</li>
</ul>

<style>
    ul{
        padding-left: 20px;
        width: fit-content;
    }
    li{
        width: 80px;
        display: flex;
        gap: 5px;
        align-items: center;
        flex-direction: row;
    }
    li span {
        display: flex;
        height: 15px;
        width: 15px;
        background-color: black;
        clip-path: polygon(
            0% 0%,
            0% 50%,
            0% 100%,
            50% 100%,
            100% 100%,
            100% 65%,
            35% 65%,
            35% 0
        );
    }
</style>
